aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
altair==4.2.0
anyio==3.6.2
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.2
blinker==1.5
branca==0.6.0
Brotli==1.0.9
bs4==0.0.1
cachetools==5.2.1
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.6
comm==0.1.3
configparser==5.3.0
contourpy==1.0.7
crayons==0.4.0
cryptography==39.0.2
cryptowatch-sdk==0.1.0
cssselect==1.2.0
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.6
decorator==5.1.1
dicttoxml2==2.1.0
discord==2.2.2
discord.py==2.2.2
distlib==0.3.6
docutils==0.18.1
emoji==2.2.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
fake-headers==1.0.2
fake-useragent==1.1.3
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.9.1
folium==0.14.0
fonttools==4.38.0
frozenlist==1.3.3
geograpy3==0.2.5
gitdb==4.0.10
GitPython==3.1.30
gnip-insights-interface==0.2
google-api-core==2.11.0
google-api-python-client==2.81.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
greenlet==2.0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
hyperframe==6.0.1
i2==0.0.183
idna==2.10
imagesize==1.4.1
importlib-metadata==6.0.0
ipykernel==6.22.0
ipython==8.11.0
isodate==0.6.1
jedi==0.18.2
jellyfish==0.9.0
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==1.5.2
jsonschema==4.17.3
jupyter_client==8.1.0
jupyter_core==5.3.0
kaitaistruct==0.10
kiwisolver==1.4.4
kroki==0.0.4
langdetect==1.0.9
lxml==4.9.2
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.13.0
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
medium-stats==2.2.0
MouseInfo==0.1.3
multidict==6.0.4
nest-asyncio==1.5.6
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.24.1
oauthlib==3.2.2
openpyxl==3.1.1
orjson==3.9.1
outcome==1.2.0
packaging==23.0
pandas==1.5.3
paramiko==3.1.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
plotly==5.13.1
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyaes==1.6.1
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pybit==5.5.0
pycountry==22.3.5
pycparser==2.21
pydeck==0.8.0
pydivert==2.1.0
pygame==2.3.0
PyGetWindow==0.0.9
Pygments==2.14.0
pylatexenc==2.10
pylodstorage==0.4.9
Pympler==1.0.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
pytagcloud==0.3.5
python-dateutil==2.8.2
python-decouple==3.7
python-dotenv==1.0.0
python-gitlab==3.15.0
python-socks==2.2.0
python-telegram-bot==20.1
pytweening==1.0.4
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305
PyYAML==6.0
pyzmq==25.0.2
rdflib==6.2.0
regex==2022.10.31
requests==2.27.1
requests-cache==1.0.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.2.0
rsa==4.9
schedule==1.1.0
scikit-learn==1.2.2
scipy==1.10.1
scp==0.14.5
selenium==4.7.0
selenium-wire==5.1.0
semver==2.13.0
sgmllib3k==1.0.0
simplejson==3.18.4
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snscrape==0.6.2.20230320
sortedcontainers==2.4.0
soupsieve==2.4
SPARQLWrapper==1.8.5
Sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.46
stack-data==0.6.2
statsmodels==0.13.5
streamlit==1.17.0
streamlit-folium==0.11.1
tabulate==0.9.0
telegram==0.0.1
Telethon==1.28.5
tenacity==8.2.2
textblob==0.17.1
threadpoolctl==3.1.0
tinysegmenter==0.3
tldextract==3.4.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.12.1
twitter-api-client==0.10.8
twitter-scraper-selenium==4.1.4
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.14
validators==0.20.0
virtualenv==20.21.0
watchdog==2.2.1
wcwidth==0.2.6
webdriver-manager==3.2.2
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
wsproto==1.2.0
yarl==1.8.2
zipp==3.11.0
zstandard==0.21.0
